<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.rysr.rysr" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Required permissions for all integrations -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Required to use Drop-In -->
    <activity android:name="com.braintreepayments.api.dropin.BraintreePaymentActivity" />

    <!-- Required to use PayPal -->
    <activity android:name="com.paypal.android.sdk.payments.PayPalProfileSharingActivity" />
    <activity android:name="com.paypal.android.sdk.payments.ProfileSharingConsentActivity" />
    <activity android:name="com.paypal.android.sdk.payments.FuturePaymentInfoActivity" />
    <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
    <activity android:name="com.paypal.android.sdk.payments.PayPalTouchActivity"
        android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    <service android:name="com.paypal.android.sdk.payments.PayPalService"
        android:exported="false" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="co.rysr.rysr.RysrApplication"
            android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity.MainActivity" />

    </application>

</manifest>
